<li class="nav-header">Filter by:</li>
<li><h6>Status</h6></li>
<li><%= link_to "Active", filter_by_status_employees_path(1) %></li>
<li><%= link_to "Inactive", filter_by_status_employees_path(0) %></li>
<li><h6>Genre</h6></li>
<li><%= link_to "Male", male_employees_path %></li>
<li><%= link_to "Female", female_employees_path %></li>