<div class="comment">
	<%= comment.content %> 
	<div class="pull-right">
		<h6 class="pull-right"><%= comment.created_at.strftime("%d-%B-%Y") %> by <%= comment.try(:user).try(:name) %></h6>
		<br />
		<%= link_to "&times;".html_safe, comment_path(comment), :class => "close pull-right", :method => :delete %>
	</div>
</div>
<br />