<div class="comment">
	<%= comment.content %> 
	<div class="pull-right">
		<%= link_to "X", comment_path(comment), :class => "btn btn-danger btn-mini pull-right", :method => :delete %>
		<h6><%= comment.created_at.strftime("%d-%B-%Y") %></h6>
	</div>
</div>
<br />