<%= admin_area do %>
<ul class="nav nav-pills">
	<li class="active">
		<%= link_to home_path do %>
			<i class="icon-home icon-white"></i> Home
		<% end %>
	</li>
	<li class="dropdown active">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-indent-left icon-white"></i> Business Development <b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li><a href="#">Prospects</a></li>
			<li><%= link_to "Customers", clients_path %></li>
			<li><a href="#">Retailers</a></li>
			<li><a href="#">Franchises</a></li>
		</ul>
	</li>
	<li class="active">
		<%= link_to projects_path do %>
			<i class="icon-folder-open icon-white"></i> Projects
		<% end %>
	<li class="dropdown active">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-folder-open icon-white"></i> Business Units <b class="caret bottom-up"></b></a>
		<ul class="dropdown-menu bottom-up pull-right">
			<li><a href="#">Invomex</a></li>
			<li><a href="#">Invosoft</a></li>
			<li><a href="#">Invograph</a></li>
			<li><a href="#">Invotech</a></li>
			<li><a href="#">Invotrucks</a></li>
		</ul>
	</li>
	<li class="active"><a href="#"><i class="icon-user icon-white"></i> Employees</a></li>
	<li class="dropdown active">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-envelope icon-white"></i> Partners<b class="caret bottom-up"></b></a>
		<ul class="dropdown-menu bottom-up pull-right">
			<li><a href="#">Software</a></li>
			<li><a href="#">Graphic design</a></li>
			<li><a href="#">Industrial design</a></li>
			<li><a href="#">Manufacturing</a></li>
			<li><a href="#">Engineering</a></li>
			<li><a href="#">Research Centers</a></li>
			<li><a href="#">Business Consult</a></li>
		</ul>
	</li>
</ul>
<% end %>