<fieldset id="" class="">
	<legend><%= @prospect.company_name %></legend>
</fieldset>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              prospects_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_prospect_path(@prospect), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              @prospect,
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>