<fieldset id="" class="">
	<legend><%= @supplier.company_name %></legend>
</fieldset>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              suppliers_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_supplier_path(@supplier), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              @supplier,
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
